<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Welcome</ion-card-subtitle>
      <ion-card-title>App of Rick and Morty</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      All of the episodes, locations and characters of the show
    </ion-card-content>
  </ion-card>
  <ion-img src="https://cdn.vox-cdn.com/thumbor/k2CRMllTGQxi9DX9_KVr-32rsmY=/0x0:1584x891/1200x800/filters:focal(841x310:1093x562)/cdn.vox-cdn.com/uploads/chorus_image/image/71950445/rick_and_morty_s4_image.0.png" ></ion-img>
  <ion-card color="info">
    <ion-card-header>
      <ion-card-subtitle>I´m Jean Rodríguez</ion-card-subtitle>
      <ion-card-title>Front end Developer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is my first app with ionic
    </ion-card-content>
  </ion-card>

</ion-content>
